# Entorno virtual de Python
app/.venv/
**/.venv/

# Caché de Python
__pycache__/
**/__pycache__/
*.py[cod]

# Variables de entorno
.env
.env.*

# Configuración local de VS Code
.vscode/

# Archivos del sistema
Thumbs.db
.DS_Store