VITE_API_URL_POST=https://wnkon0kqr8.execute-api.us-east-1.amazonaws.com
VITE_API_URL_GET=https://hul8219sl1.execute-api.us-east-1.amazonaws.com
VITE_COGNITO_USER_POOL_ID=us-east-1_JZMx64LFV
VITE_COGNITO_CLIENT_ID=5qji9sbce8tfmfrcn9gabrvmsm